html {min-height: 100%}

body {
  min-height: 100%;
  font-family: 'Times New Roman', serif;
  background: url(images/mainBG.png) fixed no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 62.5%;
  color: #000;
}

#menuTxt {
  font-size: 2.8rem;
  margin-top: 10px;
  background: radial-gradient(circle, #0f0, transparent);
  animation: menuTxt 2s linear forwards;
  color: transparent;
  animation-delay: 1s;
}

@keyframes menuTxt {
  from {color: #fff; letter-spacing: 5px;}
  to {color: #000; letter-spacing: normal;}
}

p, #infoTxt {
  font-size: 1.4rem;
  transform: translate(50%, 50%);
}
