html {min-height: 100%}

body {
  min-height: 100%;
  font-family: 'Times New Roman', serif;
  background: url(images/mainBG.png) fixed no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 62.5%;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  color: #000;
  font-family: 'Times New Roman', serif;
  font-size: 2rem;
  background: linear-gradient(orange, brown);
  display: block;
  margin: 2px auto;
  cursor: pointer;
  border: 2px #000 solid;
}

button:hover, button:focus {
  background: linear-gradient(orange, darkRed);
  outline: 0;
}

#menuTxt {
  font-size: 2.8rem;
  margin-top: 10px;
  background: radial-gradient(circle, #0f0, transparent);
  animation: menuTxt 2s linear forwards;
  color: transparent;
  animation-delay: 1s;
}

@keyframes menuTxt {
  from {color: #fff; letter-spacing: 5px;}
  to {color: #000; letter-spacing: normal;}
}

p, #infoTxt {
  font-size: 1.4rem;
  background: radial-gradient(circle, #fff, transparent);
  display: block;
}

.btn-container {
  background: linear-gradient(grey, darkGrey);
  padding: 5px;
  border: 4px #333 solid;
  display: block;
  text-align: center;
  width: 300px;
  margin: 5px auto;
}

.btn-container button:hover, .btn-container button:focus {
  color: snow;
  text-shadow: 0 0 7px #fff;
  outline: 0;
}
