html {min-height: 100%}

body {
  min-height: 100%;
  font-family: 'Times New Roman', serif;
  background: url(images/mainBG.png) fixed no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 62.5%;
  color: #000;
}

#menuTxt {
  font-size: 2.8rem;
  margin-top: 10px;
  background: radial-gradient(circle, #0f0, transparent);
  animation: menuTxt 2s linear forwards;
  color: transparent;
  animation-delay: 1s;
}

@keyframes menuTxt {
  from {color: #fff; letter-spacing: 5px;}
  to {color: #000; letter-spacing: normal;}
}

p, #infoTxt {
  font-size: 1.4rem;
  background: radial-gradient(circle, #fff, transparent);
  display: block;
}

.btn-container {
  background: linear-gradient(grey, darkGrey);
  padding: 5px;
  border: 4px #333 solid;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.btn-container button {
  font-size: 2rem;
  background: linear-gradient(orange, brown);
  border: 2px #000 solid;
  display: block;
  margin: 2px;
}

.btn-container button:hover, .btn-container-btn:focus {
  background: linear-gradient(brown, orange);
}
