html {min-height: 100%}

body {
  min-height: 100%;
  font-family: 'Times New Roman', serif;
  background: url(/images/mainBG.png);
  text-align: center;
  font-size: 62.5%;
  color: #000;
}

h1 {
  font-size: 2.8rem;
  margin-top: 10px;
  background: radial-gradient(circle, #0f0, transparent);
}
